@using Shopping_Cart_2.Sittings
@model CreateItemVM


@{
    // Layout = "_AdminLayout";
    ViewData["Titles"] = "Add Item";
}
<div class="container">
    <p class="ptable">
        <i class="bi bi-plus-circle-dotted"></i>
        Add a new Product
    </p>

    <form asp-controller="Items" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="form-label mt-4 fw-bold"></label>
                    <input type="text" class="form-control" asp-for="Name" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="form-label mt-4 fw-bold"></label>
                    <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories" data-placeholder="Select a Category"
                            data-minimum-results-for-search="Infinity">
                        <option value="">Select Category </option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="form-label mt-4 fw-bold"></label>
                    <input type="number" class="form-control" asp-for="Price" placeholder="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="form-label mt-4 fw-bold "></label>
                    <input type="number" class="form-control" asp-for="Quantity" placeholder="Quantity">
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="form-label mt-4 fw-bold"></label>
                    <textarea asp-for="Description" class="form-control" placeholder="type description . . ."></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Cover" class="form-label mt-4 fw-bold"></label>
                    <input type="file" class="form-control" asp-for="Cover"
                           data-rule-extension="@FileSettings.AllowedExtensions.Replace(".", string.Empty)"
                           data-msg-extension="Not allowed extension"
                           data-rule-filesize="@FileSettings.MaxFileSizeInBytes"
                           data-msg-filesize="Maximum allowed size is @FileSettings.MaxFileSizeInMB MB" />

                    <small class="form-text text-muted">Only @FileSettings.AllowedExtensions files are allowed with max size @(FileSettings.MaxFileSizeInMB)MB.</small>
                    <span asp-validation-for="Cover" class="text-danger d-block"></span>
                </div>
                <button type="submit" class="btn btn-dark btn-l text-uppercase mt-4" style="border-radius:25px">Save</button>
            </div>
            <div class="col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
                <img class="cover-preview m-auto " src="~/assets/img/OIP.jpg" alt="Cover" />
            </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filesize-validator.js " asp-append-version="true"></script>
    <script src="~/js/item-form.js" asp-append-version="true"></script>
    
}