@using Shopping_Cart_2.Sittings
@model IEnumerable<Item>

@{
    
    ViewData["Title"] = "Item";
}
<div class="container  ">
    <p class="ptable ">  Manage Your Products In One Click</p>
    <div class="add-bt">
        <a class="btn btn-secondary btn-lg" asp-action="Create">
            <i class="bi bi-plus-circle-dotted"></i>
            Add Item
        </a>
    </div>
   

    @if (!Model.Any())
    {
        <div class="alert alert-warning mt-5">
            <h4 class="alert-heading">No Item!</h4>
            <p class="mb-0">No Items were added yet.</p>
        </div>
    }
    else
    {
        <div>
            <table class="table table-hover border-primary " style="width:100%" id="example">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>UserId</th> 
                        <th>Image</th>
                        <th>Is Approved</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var g in Model)
                    {
                        <tr class="border-1 border-success " style="justify-content:center ">
                            <td>@g.Name</td>
                            <td>@User.Identity?.Name</td>
                            <td>
                                <div class="pe-4">
                                    <img src="@($"{FileSettings.ImagesPath}/{g.Cover}")" alt="@g.Name" style="width:100px;height:100px" />
                                </div>
                            </td>
                            <td> @g.IsApproved </td>
                            <td class="align-middle">
                                <div class="d-flex justify-content-end">
                                    <a class="btn btn-info rounded rounded-3 me-2" asp-action="Edit" asp-route-id="@g.Id">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                    <a class="btn btn-danger rounded rounded-3 js-delete" data-id="@g.Id">
                                        <i class="bi bi-trash3"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>



@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({ responsive: true });

        });
    </script>
    <script src="~/js/item-delete.js"></script>
    

}