@model IEnumerable<roleViewModel>

@{
    ViewData["Title"] = "addRoles";
    Layout = "_AdminLayout";
}
<div class="container">
    
    <form method="post">
        
        <div class="container p-3">
            <a asp-action="Index" class="btn btn-dark rounded-pill  " style="width:150px">  Back  </a>
            <div class="row pt-4">
                <div class="col-6">
                    <h2 class="text-primary">User Role</h2>
                    <h3>@ViewBag.userName</h3>
                </div>
            </div>

            <input hidden id="userName" name="userName" value="@ViewBag.userName" />
            <input hidden id="userId" name="userId" value="@ViewBag.userId" />
            <input hidden id="jsonRoles" name="jsonRoles" />

            <table id="roleTable" class="table table-light">
                <thead>
                    <tr>
                        <th scope="col">  Role Id </th>
                        <th scope="col">  Role Id </th>
                        <th scope="col">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr >
                            <td scope="row" class="tId" width="30%">
                                @item.roleId
                            </td>
                            <td class="tName">
                                @item.roleName
                            </td>
                            <td>
                                <input type="checkbox" class="tCheck" @(item.useRole ? "checked" : "") />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <button type="submit" onclick="updateJsonFile()" class="btn btn-dark  rounded-pill d-block  my-2" style="width:150px">Save</button>
        </div>

    </form>
</div>





@section Scripts {
    <script>

        function readTableToArr(){
            var arr = [];
            var JsData = "";

            $("#roleTable tbody tr").each(function (index, data) {

                const roleId = $(data).find(".tId").text();
                const roleName = $(data).find(".tName").text();
                const useRole = $(data).find(".tCheck").is(":checked");

                arr.push({
                    roleId: roleId,
                    roleName: roleName,
                    useRole: useRole
                });
            });
            return JSON.stringify(arr);
        }

        function updateJsonFile(){

            $("#jsonRoles").val(readTableToArr());
        }
    </script>
}